*~
du.log

node_modules
package-lock.json
src/sass/libs/fontawesome/
vendor
yarn-error.log
yarn.lock

# stylesheets
TODO.txt
notes/
screenshots/*.png
setenv.sh
src/sass/components/used-css-styles.txt
trash/
