/***************************************************************************************************
 *
 * Tabs
 *
 */

#content .tabs {
    height: 2.6em;
    margin-bottom: 1.2em;
    position: relative;
    overflow: hidden;
    ul {
        margin: 0;
        position: absolute;
        bottom: 0;
        padding-left: 0.5em;
        width: 2000px;
        border-bottom: 1px solid #bbbbbb;
        li {
            float: left;
            list-style-type: none;
            white-space: nowrap;
            margin-right: 4px;
            background: #fff;
            position: relative;
            margin-bottom: -1px;
            a {
                display: block;
                font-size: 0.9em;
                text-decoration: none;
                line-height: 1.3em;
                padding: 4px 6px 4px 6px;
                border: 1px solid #ccc;
                border-bottom: 1px solid #bbbbbb;
                background-color: #f6f6f6;
                color: #999;
                font-weight: bold;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                &:hover {
                    background-color: #ffffdd;
                    text-decoration: none;
                }
                &.selected {
                    background-color: #fff;
                    border: 1px solid #bbbbbb;
                    border-bottom: 1px solid #fff;
                    color: #444;
                    &:hover {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

div.tabs-buttons {
    position: absolute;
    right: 0;
    width: 54px;
    height: 24px;
    background: white;
    bottom: 0;
    border-bottom: 1px solid #bbbbbb;
}

button {
    &.tab-left, &.tab-right {
        font-size: 0.9em;
        cursor: pointer;
        height: 24px;
        border: 1px solid #ccc;
        border-bottom: 1px solid #bbbbbb;
        position: absolute;
        padding: 4px;
        width: 20px;
        bottom: -1px;
    }
    &.tab-left:hover, &.tab-right:hover {
        background-color: #f5f5f5;
    }
    &.tab-left:focus, &.tab-right:focus {
        outline: 0;
    }
    &.tab-left {
        right: 20px;
        background: #eeeeee url(../../../images/bullet_arrow_left.png) no-repeat 50% 50%;
        border-top-left-radius: 3px;
    }
    &.tab-right {
        right: 0;
        background: #eeeeee url(../../../images/bullet_arrow_right.png) no-repeat 50% 50%;
        border-top-right-radius: 3px;
    }
    &.tab-left.disabled, &.tab-right.disabled {
        background-color: #ccc;
        cursor: unset;
    }
}
