/***************************************************************************************************
 *
 * Wiki
 *
 */

// .wiki.wiki-page
div.wiki-page .contextual a {
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}

textarea.wiki-edit {
    width: 99%;
    resize: vertical;
}

$wiki-font-base: 16px;

div.wiki {
    font-size: $wiki-font-base;
    color: $gray-darker;

    h1 {
	font-size: ceil(($wiki-font-base * 2.0)); // 2.0
    }
    h2 {
	font-size: ceil(($wiki-font-base * 1.8)); // 1.6
	margin-top: $padding-large-vertical*3
    }
    h3 {
	font-size: ceil(($wiki-font-base * 1.6)); // 1.2
	margin-top: $padding-large-vertical
    }
    h4 {
	font-size: ceil(($wiki-font-base * 1.2));
	border-bottom: none;
	margin-top: $padding-large-vertical
    }

    @if $wiki-title-has-counter == true {
	// Reset title counters
	// https://developer.mozilla.org/en-US/docs/Web/CSS/counter-reset
	body { counter-reset: h1 h2 h3 h4 h5 h6 }
	h1 { counter-reset: h2 h3 h4 h5 h6 }
	h2 { counter-reset: h3 h4 h5 h6 }
	h3 { counter-reset: h4 h5 h6 }
	h4 { counter-reset: h5 h6 }
	h5 { counter-reset: h6 }

	// Add title counter before each title
	// h1:before { counter-increment: h1; content: counter(h1) ". " }
	// if h1 adjust them
	h2:before { counter-increment: h2; content: counter(h2) " " }
	h3:before { counter-increment: h3; content: counter(h2) "." counter(h3) " " }
	h4:before { counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) " " }
	h5:before { counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " " }
	h6:before { counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " " }

	// h1.nocount:before,
	// h2.nocount:before,
	// h3.nocount:before,
	// h4.nocount:before,
	// h5.nocount:before,
	// h6.nocount:before {
	// 	counter-increment: none;
	// 	content: "";
	// }
    }

    table {
        border-collapse: collapse;
        margin-bottom: 1em;
        border: 1px solid #bbb;
        padding: 4px;
    }

    td, th {
        border: 1px solid #bbb;
        padding: 4px;
    }

    .noborder {
        border: 0;
        td, th {
            border: 0;
        }
    }

    a {
        word-wrap: break-word;
        &.new {
            color: #b73535;
        }

	/*
	&.external:before {
	    @include fonteawesome-icon($fa-var-external-link);
	}
       */
    }

    ul, ol {
        margin-bottom: $wiki-font-base; // $padding-large-vertical*2 // 1em
	li {
	    margin-top: $wiki-font-base/3; // $padding-large-vertical
	}
    }
    li > {
        ul {
            list-style-type: inherit; // use bullet for nested list
        }
        ul, ol {
            margin-bottom: 0;
        }
    }

    pre {
        margin: 1em 1em 1em 1.6em;
        padding: 8px;
        background-color: #fafafa;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .toc {
	ul {
	    list-style: none;
	}
    }

    ul.toc { // Top level h1
        margin-left: $padding-xl-horizontal;
        // margin-right: $padding-base-horizontal;
        margin-bottom: $padding-xl-horizontal;
        border: 1px solid $gray;
	border-radius: 5px;
        padding: $padding-base-horizontal;
        display: table; // to restrict horizontally the box to the table
	list-style: none; // cf. infra, better ?
	// font-size: $font-size-base;

        // background-color: $gray-lighter;
        // line-height: 1.2em;

	ul, li {
	    margin-left: $padding-base-horizontal;
	    padding-left: 0;
	}

	li { // h1
            margin-top: $padding-large-vertical;
	    font-weight: 900;
	}
	ul li { // h2
	    margin-top: $padding-small-vertical;
	    font-weight: 600;
	}
	ul ul li { // h3 ...
	    margin-top: 0;
	    font-weight: normal;
	}

	// Useless since ul.toc > ul
	// ul.toc {
	//     &.right {
	// 	float: right;
	// 	margin-left: 12px;
	// 	margin-right: 0;
	// 	width: auto;
	//     }
	//     &.left {
	// 	float: left;
	// 	margin-right: 12px;
	// 	margin-left: 0;
	// 	width: auto;
	//     }
	//     ul {
	// 	margin: 0;
	// 	padding: 0;
	//     }
	//     li {
	// 	// list-style-type: none;
	// 	margin: 0;
	// 	font-size: 12px;
	// 	li {
	// 	    margin-left: 1.5em;
	// 	    font-size: 10px;
	// 	}
	//     }
	//     a {
	// 	font-size: 0.9em;
	// 	font-weight: normal;
	// 	text-decoration: none;
	// 	color: #606060;
	// 	&:hover {
	// 	    color: #c61a1a;
	// 	    text-decoration: underline;
	// 	}
	//     }
	// }
    }

    img {
	vertical-align: middle;
	max-width: 100%;
    }
}

/*
* html div.wiki ul.toc {
    width: 50%;
} // IE6 doesn't autosize div
*/

// Fixme: purpose ?
a.wiki-anchor {
    display: none;
    margin-left: 6px;
    text-decoration: none;
    &:hover {
        color: #aaa !important;
        text-decoration: none;
    }
}

h1:hover a.wiki-anchor,
h2:hover a.wiki-anchor,
h3:hover a.wiki-anchor {
    display: inline;
    color: #ddd;
}

// Wiki preview
div#tab-content-preview > div.wiki#preview {
    width: 80%; // Fixme:

    fieldset.preview {
	background: none;
	border: none;
	background-color: lighten($gray-base, 95%); // $gray-lighter
	border-left: 3px solid red;
	legend {
	    display: none;
	}
    }
}
