/***************************************************************************************************
 *
 * Ajax indicator
 *
 */

#ajax-indicator {
    position: absolute;
    /* fixed not supported by IE */
    background-color: #eee;
    border: 1px solid #bbb;
    top: 35%;
    left: 40%;
    width: 20%;
    font-weight: bold;
    text-align: center;
    padding: 0.6em;
    z-index: 100;
    opacity: 0.5;
    span {
	background-position: 0% 40%;
	background-repeat: no-repeat;
	background-image: url(../images/loading.gif);
	padding-left: 26px;
	vertical-align: bottom;
    }
}

html > body #ajax-indicator {
    position: fixed;
}
