/***** Calendar *****/

table.cal {
    border-collapse: collapse;
    width: 100%;
    margin: 0px 0 6px 0;
    border: 1px solid #d7d7d7;
    thead th {
        width: 14%;
        background-color: #EEEEEE;
        padding: 4px;
        &.week-number {
            width: auto;
        }
    }
    tbody tr {
        height: 100px;
    }
    td {
        border: 1px solid #d7d7d7;
        vertical-align: top;
        font-size: 0.9em;
        &.week-number {
            background-color: #EEEEEE;
            padding: 4px;
            border: none;
            font-size: 1em;
        }
        p.day-num {
            font-size: 1.1em;
            text-align: right;
        }
        &.odd p.day-num {
            color: #bbb;
        }
        &.today {
            background: #ffffdd;
            p.day-num {
                font-weight: bold;
            }
        }
    }
    .starting a {
        background: url(../images/bullet_go.png) no-repeat -1px -2px;
        padding-left: 16px;
    }
}

p.cal.legend .starting {
    background: url(../images/bullet_go.png) no-repeat -1px -2px;
    padding-left: 16px;
}

table.cal .ending a, p.cal.legend .ending {
    background: url(../images/bullet_end.png) no-repeat -1px -2px;
    padding-left: 16px;
}

table.cal .starting.ending a {
    background: url(../images/bullet_diamond.png) no-repeat -1px -2px;
    padding-left: 16px;
}

p.cal.legend {
    .starting.ending {
        background: url(../images/bullet_diamond.png) no-repeat -1px -2px;
        padding-left: 16px;
    }
    span {
        display: block;
    }
}
