/***************************************************************************************************
 *
 * Calendar
 *
 */

table.cal {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 $padding-base-vertical 0;
    border: $splitter-border;
    @include rised-component();

    thead th {
        width: 14%;
        background-color: $gray-lighter;
        padding: 4px;
        &.week-number {
            width: auto;
        }
    }

    tbody tr {
        height: 100px;
    }

    td {
        border: 1px solid #d7d7d7; // Fixme: $splitter-border
        vertical-align: top;
        font-size: 0.9em;

        &.week-number {
            background-color: $gray-lighter;
            padding: 4px;
            border: none;
            font-size: 1em;
        }
        p.day-num {
            font-size: 1.1em;
            text-align: right;
        }
        &.odd p.day-num {
            color: #bbb;
        }
        &.today {
            background: #ffffdd;
            p.day-num {
                font-weight: bold;
            }
        }
    }

    // Decorations
    .starting a:before {
	@include fonteawesome-icon($fa-var-chevron-right);
	color: $brand-success;
    }
    .ending a:before  {
	@include fonteawesome-icon($fa-var-chevron-left);
	color: $brand-danger;
    }
    .starting.ending a:before { // Fixme: should apply to open-closed same day
	@include fonteawesome-icon($fa-var-diamond);
	color: $brand-danger;
    }
}

@mixin calendar-legend-icon($icon, $colour) {
    @include fonteawesome-icon($icon);
    color: $colour;
    width: 1.5em;
}

// Calendar legent
p.cal.legend {
    span {
        display: block; // as an unstyled list

	&.starting:before {
	    @include calendar-legend-icon($fa-var-chevron-right, $brand-success);
	}
	&.ending:before {
	    @include calendar-legend-icon($fa-var-chevron-left, $brand-danger);
	}
	&.starting.ending:before {
	    @include calendar-legend-icon($fa-var-diamond, $brand-danger);
	}
    }
}
