/***************************************************************************************************
 *
 * Decorations
 *
 */

h3.version a:before { // Roadmap pages
    @include fonteawesome-icon($fa-var-bookmark);
}

div {
    &.issues h3:before {
	// file-text sticky-note
	@include fonteawesome-icon($fa-var-file-text);
    }
    &.members h3:before {
	@include fonteawesome-icon($fa-var-users);
    }
    &.news h3:before {
	@include fonteawesome-icon($fa-var-newspaper-o);
    }
    &.projects h3:before {
	@include fonteawesome-icon($fa-var-gears);
    }
}

dt {
    &.issue:before { // User Activity
	@include fonteawesome-icon($fa-var-file-text);
	width: 1em;
    }
    &.issue-edit {
        background-image: url(../images/ticket_edit.png);
    }
    &.issue-closed {
        background-image: url(../images/ticket_checked.png);
    }
    &.issue-note {
        background-image: url(../images/ticket_note.png);
    }
    &.changeset {
        background-image: url(../images/changeset.png);
    }
    &.news {
        background-image: url(../images/news.png);
    }
    &.message {
        background-image: url(../images/message.png);
    }
    &.reply {
        background-image: url(../images/comments.png);
    }
    &.wiki-page:before { // User Activity
	@include fonteawesome-icon($fa-var-wikipedia-w);
	width: 1em;
    }
    &.attachment {
        background-image: url(../images/attachment.png);
    }
    &.document {
        background-image: url(../images/document.png);
    }
    &.project {
        background-image: url(../images/projects.png);
    }
    &.time-entry {
        background-image: url(../images/time.png);
    }
}

#search-results dt.issue.closed {
    background-image: url(../images/ticket_checked.png);
}

a.my-project:before {
    @include fonteawesome-icon($fa-var-star);
}
