/***************************************************************************************************
 *
 * Flash & error messages
 *
 */

#errorExplanation, div.flash, .nodata, .warning, .conflict {
    padding: 4px 4px 4px 30px;
    margin-bottom: 12px;
    font-size: 1.1em;
    border: 2px solid;
    border-radius: 3px;
}

div.flash {
    margin-top: 8px;
    &.error {
        background: url(../images/exclamation.png) 8px 50% no-repeat;
        background-color: #ffe3e3;
        border-color: #dd0000;
        color: #880000;
    }
    &.notice {
        background: url(../images/true.png) 8px 5px no-repeat;
        background-color: #dfffdf;
        border-color: #9fcf9f;
        color: #005f00;
    }
    &.warning {
        background: url(../images/warning.png) 8px 5px no-repeat;
        background-color: #FFEBC1;
        border-color: #FDBF3B;
        color: #A6750C;
        text-align: left;
    }
}

#errorExplanation {
    background: url(../images/exclamation.png) 8px 50% no-repeat;
    background-color: #ffe3e3;
    border-color: #dd0000;
    color: #880000;
    ul {
        font-size: 0.9em;
    }
    h2, p {
        display: none;
    }
}

.conflict {
    background: url(../images/warning.png) 8px 5px no-repeat;
    background-color: #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
    text-align: left;
}

.conflict-details {
    font-size: 80%;
}

.nodata, .warning {
    text-align: center;
    background-color: #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
}
