/***************************************************************************************************
 *
 * Tables
 *
 */

table.list, .table-list {
    border: 1px solid #e4e4e4;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 4px;
}

table.list th, .table-list-header {
    background-color: #EEEEEE;
    padding: 4px;
    white-space: nowrap;
    font-weight: bold;
}

table.list td {
    text-align: center;
    vertical-align: top;
    padding-right: 10px;
    &.id {
        width: 2%;
        text-align: center;
    }
    &.name, &.description, &.subject, &.comments, &.roles {
        text-align: left;
    }
    &.tick {
        width: 15%;
    }
    &.checkbox {
        width: 15px;
        padding: 2px 0 0 0;
        input {
            padding: 0px;
        }
    }
    &.buttons {
        width: 15%;
        white-space: nowrap;
        text-align: right;
    }
}

div.buttons {
    width: 15%;
    white-space: nowrap;
    text-align: right;
}

table.list td.buttons a, div.buttons a {
    margin-right: 0.6em;
}

table.list td.buttons img, div.buttons img {
    vertical-align: middle;
}

table.list {
    td.reorder {
        width: 15%;
        white-space: nowrap;
        text-align: center;
    }
    table.progress td {
        padding-right: 0px;
    }
    caption {
        text-align: left;
        padding: 0.5em 0.5em 0.5em 0;
    }
}

#role-permissions-trackers table.list th {
    white-space: normal;
}

.table-list-cell {
    display: table-cell;
    vertical-align: top;
    padding: 2px;
}

tr {
    &.project {
        td.name a {
            white-space: nowrap;
        }
        &.closed, &.archived, &.closed a, &.archived a {
            color: #aaa;
        }
        &.idnt td.name span {
            background: url(../images/bullet_arrow_right.png) no-repeat 0 50%;
            padding-left: 16px;
        }
        &.idnt-1 td.name {
            padding-left: 0.5em;
        }
        &.idnt-2 td.name {
            padding-left: 2em;
        }
        &.idnt-3 td.name {
            padding-left: 3.5em;
        }
        &.idnt-4 td.name {
            padding-left: 5em;
        }
        &.idnt-5 td.name {
            padding-left: 6.5em;
        }
        &.idnt-6 td.name {
            padding-left: 8em;
        }
        &.idnt-7 td.name {
            padding-left: 9.5em;
        }
        &.idnt-8 td.name {
            padding-left: 11em;
        }
        &.idnt-9 td.name {
            padding-left: 12.5em;
        }
    }
    &.issue {
        text-align: center;
        white-space: nowrap;
        td {
            &.subject, &.category {
                white-space: normal;
            }
        }
    }
}

td.assigned_to {
    white-space: normal;
}

tr.issue td {
    &.string, &.text, &.list, &.relations, &.parent {
        white-space: normal;
    }
    &.relations {
        text-align: left;
    }
    &.done_ratio table.progress {
        margin-left: auto;
        margin-right: auto;
    }
    &.relations span {
        white-space: nowrap;
    }
}

table.issues td.description {
    color: #777;
    font-size: 90%;
    padding: 4px 4px 4px 24px;
    text-align: left;
    white-space: normal;
    pre {
        white-space: normal;
    }
}

tr.issue {
    &.idnt td.subject {
        background: url(../images/bullet_arrow_right.png) no-repeat 0 50%;
    }
    &.idnt-1 td.subject {
        padding-left: 24px;
        background-position: 8px 50%;
    }
    &.idnt-2 td.subject {
        padding-left: 40px;
        background-position: 24px 50%;
    }
    &.idnt-3 td.subject {
        padding-left: 56px;
        background-position: 40px 50%;
    }
    &.idnt-4 td.subject {
        padding-left: 72px;
        background-position: 56px 50%;
    }
    &.idnt-5 td.subject {
        padding-left: 88px;
        background-position: 72px 50%;
    }
    &.idnt-6 td.subject {
        padding-left: 104px;
        background-position: 88px 50%;
    }
    &.idnt-7 td.subject {
        padding-left: 120px;
        background-position: 104px 50%;
    }
    &.idnt-8 td.subject {
        padding-left: 136px;
        background-position: 120px 50%;
    }
    &.idnt-9 td.subject {
        padding-left: 152px;
        background-position: 136px 50%;
    }
}

table.issue-report {
    table-layout: fixed;
}

tr {
    &.entry {
        border: 1px solid #f8f8f8;
        td {
            white-space: nowrap;
            &.filename {
                width: 30%;
                text-align: left;
            }
            &.filename_no_report {
                width: 70%;
                text-align: left;
            }
            &.size {
                text-align: right;
                font-size: 90%;
            }
            &.revision, &.author {
                text-align: center;
            }
            &.age {
                text-align: right;
            }
        }
        &.file td {
            &.filename a, &.filename_no_report a {
                margin-left: 16px;
            }
        }
    }
    span.expander {
        background-image: url(../images/bullet_toggle_plus.png);
        padding-left: 8px;
        margin-left: 0;
        cursor: pointer;
    }
    &.open span.expander {
        background-image: url(../images/bullet_toggle_minus.png);
    }
    &.changeset {
        height: 20px;
        ul {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

tr.changeset td {
    &.revision_graph {
        width: 15%;
        background-color: #fffffb;
    }
    &.author, &.committed_on {
        text-align: center;
        width: 15%;
        white-space: nowrap;
    }
}

table {
    &.files {
        tbody th {
            text-align: left;
        }
        tr.file td {
            &.filename {
                text-align: left;
                padding-left: 24px;
            }
            &.digest {
                font-size: 80%;
            }
        }
    }
    &.members td.roles, &.memberships td.roles {
        width: 45%;
    }
}

tr {
    &.message {
        height: 2.6em;
        td {
            &.subject {
                padding-left: 20px;
            }
            &.created_on {
                white-space: nowrap;
            }
            &.last_message {
                font-size: 80%;
                white-space: nowrap;
            }
        }
        &.locked td.subject {
            background: url(../images/locked.png) no-repeat 0 1px;
        }
        &.sticky td.subject {
            background: url(../images/bullet_go.png) no-repeat 0 1px;
            font-weight: bold;
        }
    }
    &.version {
        &.closed {
            color: #999;
            a {
                color: #999;
            }
        }
        td.name {
            padding-left: 20px;
        }
        &.shared td.name {
            background: url(../images/link.png) no-repeat 0% 70%;
        }
        td {
            &.date, &.status, &.sharing {
                text-align: center;
                white-space: nowrap;
            }
        }
    }
    &.user td {
        width: 13%;
        white-space: nowrap;
    }
}

td {
    &.username, &.firstname, &.lastname, &.email {
        text-align: left !important;
    }
}

tr.user {
    td.email {
        width: 18%;
    }
    &.locked, &.registered, &.locked a, &.registered a {
        color: #aaa;
    }
}

table.permissions td.role {
    color: #999;
    font-size: 90%;
    font-weight: normal !important;
    text-align: center;
    vertical-align: bottom;
}

tr {
    &.wiki-page-version td {
        &.updated_on, &.author {
            text-align: center;
        }
    }
    &.time-entry {
        text-align: center;
        white-space: nowrap;
        td {
            &.issue, &.comments, &.subject, &.activity {
                text-align: left;
                white-space: normal;
            }
        }
    }
}

td.hours {
    text-align: right;
    font-weight: bold;
    padding-right: 0.5em;
    .hours-dec {
        font-size: 0.9em;
    }
}

table.plugins {
    td {
        vertical-align: middle;
        &.configure {
            text-align: right;
            padding-right: 1em;
        }
    }
    span {
        &.name {
            font-weight: bold;
            display: block;
            margin-bottom: 6px;
        }
        &.description, &.url {
            display: block;
            font-size: 0.9em;
        }
    }
}

tr.group {
    td {
        padding: 0.8em 0 0.5em 0.3em;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }
    span {
        &.name {
            font-weight: bold;
        }
        &.count {
            font-weight: bold;
            position: relative;
            top: -1px;
            color: #fff;
            font-size: 10px;
            background: #9DB9D5;
            padding: 0px 6px 1px 6px;
            border-radius: 3px;
            margin-left: 4px;
        }
        &.totals {
            color: #aaa;
            font-size: 80%;
            .value {
                font-weight: bold;
                color: #777;
            }
        }
    }
    a.toggle-all {
        color: #aaa;
        font-size: 80%;
        display: none;
        float: right;
        margin-right: 4px;
    }
    &:hover a.toggle-all {
        display: inline;
    }
}

a.toggle-all:hover {
    text-decoration: none;
}

table {
    &.list tbody tr {
        &:hover {
            background-color: #ffffdd;
        }
        &.group:hover {
            background-color: inherit;
        }
    }
    td {
        padding: 2px;
    }
    p {
        margin: 0;
    }
}

.odd {
    background-color: #f6f7f8;
}

.even {
    background-color: #fff;
}

tr.builtin td.name {
    font-style: italic;
}

a.sort {
    padding-right: 16px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    &.asc {
        background-image: url(../images/sort_asc.png);
    }
    &.desc {
        background-image: url(../images/sort_desc.png);
    }
}

table.boards a.board, h3.comments {
    background: url(../images/comment.png) no-repeat 0% 50%;
    padding-left: 20px;
}

table.boards td.last-message {
    text-align: left;
    font-size: 80%;
}

div.table-list.boards .table-list-cell.name {
    width: 30%;
}

table.messages td.last_message {
    text-align: left;
}

#query_form_content {
    font-size: 90%;
}

.query_sort_criteria_count {
    display: inline-block;
    min-width: 1em;
}

table.query-columns {
    border-collapse: collapse;
    border: 0;
    td.buttons {
        vertical-align: middle;
        text-align: center;
        input[type=button] {
            width: 35px;
        }
    }
}

.query-totals {
    text-align: right;
    margin-top: -2.3em;
    > span {
        margin-left: 0.6em;
    }
    .value {
        font-weight: bold;
    }
}

td.center {
    text-align: center;
}

h3.version {
    background: url(../images/package.png) no-repeat 0% 50%;
    padding-left: 20px;
}

div {
    &.issues h3 {
        background: url(../images/ticket.png) no-repeat 0% 50%;
        padding-left: 20px;
    }
    &.members h3 {
        background: url(../images/group.png) no-repeat 0% 50%;
        padding-left: 20px;
    }
    &.news h3 {
        background: url(../images/news.png) no-repeat 0% 50%;
        padding-left: 20px;
    }
    &.projects h3 {
        background: url(../images/projects.png) no-repeat 0% 50%;
        padding-left: 20px;
    }
}

#watchers {
    select {
        width: 95%;
        display: block;
    }
    a.delete {
        opacity: 0.4;
        margin-left: 5px;
        &:hover {
            opacity: 1;
        }
    }
    img.gravatar {
        margin: 0 4px 2px 0;
    }
}

span {
    &#watchers_inputs {
        overflow: auto;
        display: block;
    }
    &.search_for_watchers {
        display: block;
        font-size: 80%;
        line-height: 2.5em;
    }
    &.add_attachment {
        font-size: 80%;
        line-height: 2.5em;
    }
    &.search_for_watchers a, &.add_attachment a {
        padding-left: 16px;
        background: url(../images/bullet_add.png) no-repeat 0 50%;
    }
}

.highlight {
    background-color: #FCFD8D;
    &.token-1 {
        background-color: #faa;
    }
    &.token-2 {
        background-color: #afa;
    }
    &.token-3 {
        background-color: #aaf;
    }
}

.box {
    padding: 6px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    color: #505050;
    line-height: 1.5em;
    border: 1px solid #e4e4e4;
    word-wrap: break-word;
    border-radius: 3px;
}

div.square {
    border: 1px solid #999;
    float: left;
    margin: .3em .4em 0 .4em;
    overflow: hidden;
    width: .6em;
    height: .6em;
}

.splitcontent {
    overflow: auto;
}

.splitcontentleft {
    float: left;
    width: 49%;
}

.splitcontentright {
    float: right;
    width: 49%;
}

form {
    display: inline;
}

input, select {
    vertical-align: middle;
    margin-top: 1px;
    margin-bottom: 1px;
}

fieldset {
    border: 1px solid #e4e4e4;
    margin: 0;
}

legend {
    color: #333;
}

hr {
    width: 100%;
    height: 1px;
    background: #ccc;
    border: 0;
}

blockquote {
    font-style: italic;
    border-left: 3px solid #e0e0e0;
    padding-left: 0.6em;
    margin-left: 2.4em;
    blockquote {
        margin-left: 0;
    }
}

abbr, span.field-description[title] {
    border-bottom: 1px dotted #aaa;
    cursor: help;
}

li p {
    margin-top: 0;
}

div.issue {
    background: #ffffdd;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}

p {
    &.breadcrumb {
        font-size: 0.9em;
        margin: 4px 0 4px 0;
    }
    &.subtitle {
        font-size: 0.9em;
        margin: -6px 0 12px 0;
        font-style: italic;
    }
    &.footnote {
        font-size: 0.9em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.ltr {
    direction: ltr !important;
    unicode-bidi: bidi-override;
}

.rtl {
    direction: rtl !important;
    unicode-bidi: bidi-override;
}

div {
    &.issue {
        div.subject {
            div div {
                padding-left: 16px;
            }
            p {
                margin: 0;
                margin-bottom: 0.1em;
                font-size: 90%;
                color: #999;
            }
            > div > p {
                margin-top: 0.5em;
            }
            h3 {
                margin: 0;
                margin-bottom: 0.1em;
            }
        }
        span.private {
            position: relative;
            bottom: 2px;
            text-transform: uppercase;
            background: #d22;
            color: #fff;
            font-weight: bold;
            padding: 0px 2px 0px 2px;
            font-size: 60%;
            margin-right: 2px;
            border-radius: 2px;
        }
    }
    &.journal span.private {
        position: relative;
        bottom: 2px;
        text-transform: uppercase;
        background: #d22;
        color: #fff;
        font-weight: bold;
        padding: 0px 2px 0px 2px;
        font-size: 60%;
        margin-right: 2px;
        border-radius: 2px;
    }
    &.issue {
        .next-prev-links {
            color: #999;
        }
        .attributes {
            margin-top: 2em;
        }
        .attribute {
            padding-left: 180px;
            clear: left;
            min-height: 1.8em;
            .label {
                width: 170px;
                margin-left: -180px;
                font-weight: bold;
                float: left;
            }
        }
        &.overdue .due-date .value {
            color: #c22;
        }
    }
}

#issue_tree table.issues, #relations table.issues {
    border: 0;
}

#issue_tree td.checkbox {
    display: none;
}

#relations td {
    &.checkbox {
        display: none;
    }
    &.buttons {
        padding: 0;
    }
}

fieldset {
    &.collapsible {
        border-width: 1px 0 0 0;
        > legend {
            padding-left: 16px;
            background: url(../images/arrow_expanded.png) no-repeat 0% 40%;
            cursor: pointer;
        }
        &.collapsed > legend {
            background-image: url(../images/arrow_collapsed.png);
        }
    }
    &#date-range p {
        margin: 2px 0 2px 0;
    }
    &#filters {
        table {
            border-collapse: collapse;
            td {
                padding: 0;
                vertical-align: middle;
            }
        }
        tr.filter {
            height: 2.1em;
        }
        td {
            &.field {
                width: 230px;
            }
            &.operator {
                width: 180px;
                select {
                    max-width: 170px;
                }
            }
            &.values {
                white-space: nowrap;
                select {
                    min-width: 130px;
                }
                input {
                    height: 1em;
                }
            }
        }
    }
}

#filters-table {
    width: 60%;
    float: left;
}

.add-filter {
    width: 35%;
    float: right;
    text-align: right;
    vertical-align: top;
}

#issue_is_private_wrap {
    float: right;
    margin-right: 1em;
}

.toggle-multiselect {
    background: url(../images/bullet_toggle_plus.png) no-repeat 0% 40%;
    padding-left: 16px;
    margin-left: 0;
    margin-right: 5px;
    cursor: pointer;
}

.buttons {
    font-size: 0.9em;
    margin-bottom: 1.4em;
    margin-top: 1em;
}

div {
    &#issue-changesets {
        float: right;
        width: 45%;
        margin-left: 1em;
        margin-bottom: 1em;
        background: #fff;
        padding-left: 1em;
        font-size: 90%;
        div.changeset {
            padding: 4px;
            border-bottom: 1px solid #ddd;
        }
        p {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }
    &.journal {
        overflow: auto;
        &.private-notes {
            border-left: 2px solid #d22;
            padding-left: 4px;
            margin-left: -6px;
        }
        ul.details {
            color: #959595;
            margin-bottom: 1.5em;
            a {
                color: #70A7CD;
                &:hover {
                    color: #D14848;
                }
            }
        }
    }
    &#activity dl {
        margin-left: 2em;
    }
}

#search-results {
    margin-left: 2em;
}

div#activity dd, #search-results dd {
    margin-bottom: 1em;
    padding-left: 18px;
    font-size: 0.9em;
}

div#activity dt, #search-results dt {
    margin-bottom: 0px;
    padding-left: 20px;
    line-height: 18px;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

div#activity {
    dt {
        &.me .time {
            border-bottom: 1px solid #999;
        }
        .time {
            color: #777;
            font-size: 80%;
        }
    }
    dd .description {
        font-style: italic;
    }
}

#search-results dd .description {
    font-style: italic;
}

div#activity span.project:after, #search-results span.project:after {
    content: " -";
}

div#activity dd span.description, #search-results dd span.description {
    display: block;
    color: #808080;
}

div#activity {
    dt.grouped {
        margin-left: 5em;
    }
    dd.grouped {
        margin-left: 9em;
    }
}

#search-results dd {
    margin-bottom: 1em;
    padding-left: 20px;
    margin-left: 0px;
}

div#search-results-counts {
    float: right;
    ul {
        margin-top: 0.5em;
    }
    li {
        list-style-type: none;
        float: left;
        margin-left: 1em;
    }
}

dt {
    &.issue {
        background-image: url(../images/ticket.png);
    }
    &.issue-edit {
        background-image: url(../images/ticket_edit.png);
    }
    &.issue-closed {
        background-image: url(../images/ticket_checked.png);
    }
    &.issue-note {
        background-image: url(../images/ticket_note.png);
    }
    &.changeset {
        background-image: url(../images/changeset.png);
    }
    &.news {
        background-image: url(../images/news.png);
    }
    &.message {
        background-image: url(../images/message.png);
    }
    &.reply {
        background-image: url(../images/comments.png);
    }
    &.wiki-page {
        background-image: url(../images/wiki_edit.png);
    }
    &.attachment {
        background-image: url(../images/attachment.png);
    }
    &.document {
        background-image: url(../images/document.png);
    }
    &.project {
        background-image: url(../images/projects.png);
    }
    &.time-entry {
        background-image: url(../images/time.png);
    }
}

#search-results dt.issue.closed {
    background-image: url(../images/ticket_checked.png);
}

div#roadmap {
    .related-issues {
        margin-bottom: 1em;
        td.checkbox {
            display: none;
        }
    }
    .wiki {
        h1 {
            &:first-child {
                display: none;
            }
            font-size: 120%;
        }
        h2 {
            font-size: 110%;
        }
    }
}

body.controller-versions.action-show div#roadmap .related-issues {
    width: 70%;
}

div#version-summary {
    float: right;
    width: 28%;
    margin-left: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    fieldset {
        margin-bottom: 1em;
        &.time-tracking table {
            width: 100%;
        }
    }
    th, td.total-hours {
        text-align: right;
    }
}

table#time-report {
    td.hours {
        text-align: right;
        padding-right: 0.5em;
    }
    th {
        &.period, &.total {
            text-align: right;
            padding-right: 0.5em;
        }
    }
    tbody tr {
        &.subtotal {
            font-style: italic;
            color: #777;
            td.hours {
                color: #b0b0b0;
            }
        }
        &.total {
            font-weight: bold;
            background-color: #EEEEEE;
            border-top: 1px solid #e4e4e4;
        }
    }
    .hours-dec {
        font-size: 0.9em;
    }
}

form .attributes select {
    width: 60%;
    + a.icon-only {
        vertical-align: middle;
        margin-left: 4px;
    }
}

input {
    &#issue_subject, &#document_title {
        width: 99%;
    }
}

select#issue_done_ratio {
    width: 95px;
}

ul.projects {
    margin: 0;
    padding-left: 1em;
    ul {
        padding-left: 1.6em;
    }
    &.root {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
}

#projects-index ul.projects {
    ul.projects {
        border-left: 3px solid #e0e0e0;
        padding-left: 1em;
    }
    li {
        &.root {
            margin-bottom: 1em;
        }
        &.child {
            margin-top: 1em;
        }
    }
    div.root a.project {
        font-family: "Trebuchet MS", Verdana, sans-serif;
        font-weight: bold;
        font-size: 16px;
        margin: 0 0 10px 0;
    }
}

.my-project {
    padding-left: 18px;
    background: url(../images/fav.png) no-repeat 0 50%;
}

#notified-projects > ul, #tracker_project_ids > ul, #custom_field_project_ids > ul {
    max-height: 250px;
    overflow-y: auto;
}

#related-issues li img {
    vertical-align: middle;
}

ul.properties {
    padding: 0;
    font-size: 0.9em;
    color: #777;
    li {
        list-style-type: none;
        span {
            font-style: italic;
        }
    }
}

.total-hours {
    font-size: 110%;
    font-weight: bold;
    span.hours-int {
        font-size: 120%;
    }
}

.autoscroll {
    overflow-x: auto;
    padding: 1px;
    margin-bottom: 1.2em;
    position: relative;
}

#user_login, #user_firstname, #user_lastname, #user_mail, #my_account_form select, #user_form select, #user_identity_url {
    width: 90%;
}

#workflow_copy_form select {
    width: 200px;
}

table.transitions td.enabled {
    background: #bfb;
}

#workflow_form table select {
    font-size: 90%;
    max-width: 100px;
}

table.fields_permissions td {
    &.readonly {
        background: #ddd;
    }
    &.required {
        background: #d88;
    }
}

select.expandable {
    vertical-align: top;
}

textarea {
    &#custom_field_possible_values, &#custom_field_default_value {
        width: 95%;
        resize: vertical;
    }
}

.sort-handle {
    display: inline-block;
    vertical-align: middle;
}

input#content_comments {
    width: 99%;
}

/***************************************************************************************************
 *
 *
 *
 */

#search-form fieldset p {
    margin: 0.2em 0;
}
