/***************************************************************************************************
 *
 * Tooltips
 *
 */

.tooltip {
    position: relative;
    z-index: 24;
    &:hover {
        z-index: 25;
        color: #000;
    }
    span.tip {
        display: none;
        text-align: left;
    }
}

div.tooltip:hover span.tip {
    display: block;
    position: absolute;
    top: 12px;
    width: 270px;
    border: 1px solid #555;
    background-color: #fff;
    padding: 4px;
    font-size: 0.8em;
    color: #505050;
}

img.ui-datepicker-trigger {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 4px;
}
